SECRET_KEY=django-insecure-change-me-in-production-use-random-string-50-chars

DB_NAME=kameks_db
DB_USER=kameks_user
DB_PASSWORD=kameks_password
DB_HOST=localhost   # В Docker Compose используйте: db
DB_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=noreply@kameks.ru
EMAIL_HOST_PASSWORD=your-email-password
